Package: enigma2-plugin-skin-e2-darkos
Version: 0.9.8
Description: E2-DarkOS is a modern graphic skin by DimitarCC
Section:
Priority: optional
Maintainer: DimitarCC
Architecture: all
OE: N/A
Homepage: https://github.com/DimitarCC
Depends: 
Source: 
